//- - 
//-   var userInfo = {
//-     name: 'Hajime Suzuki',
//-     email: 'teashtahstahstahtsst@test.com',
//-     phone: '0612345678',
//-     btw: 'NL123408910238',
//-     kvk: 12341234,
//-     iban: 'NL12INGB1234567890',
//-     streetAddress: 'Super-test Street test test',
//-     postalCode: '1234AB',
//-     city: 'Amsterdam'
//-   } 

//- - 
//-   var invoiceInfo = {
//-     name: 'Invoice Title',
//-     invoiceNumber: '20185843ashtashtashta',
//-     invoiceDate: '2018-12-22',
//-   }

//- - 
//-   var clientInfo = {
//-     name: 'Test company international B.V',
//-     streetAddress: 'Another test street address',
//-     postalCode: '9875AB',
//-     city: 'Rotterdam'
//-   }

//- - 
//-   var incomes = [
//-     {name: 'testasht ashta sht asht ', price:'€12.01', quantity: 5, taxRate: 21},
//-     {name: 'some  ahst ahashasht ahtaahsr  ahst a ahst aasht ash tash asht ash tasht ', price:'€1055000.01', quantity: 2, taxRate: 21},
//-     {name: 'another', price:'€116.01', quantity: 1, taxRate: 21},
//-     {name: 'another', price:'€116.01', quantity: 1, taxRate: 21},
//-     {name: 'another', price:'€116.01', quantity: 1, taxRate: 21},
//-   ]

//- -
//-   var totalPrices = {}

html 
  head
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    style
      include ./materialize.min.css
      include ./index.css
  body
    - var bgPath = publicPath || 'http://localhost:4000' 

    .bg(style='background-image: url(' + bgPath + '/src/bg.jpg)') 

    .wrapper
      .logo
        include ./logo.svg

      .spacer

      .main
        .client-info
          .group
            p.invoice-number Factuur #{invoiceInfo.invoiceNumber}
          .group
            p.name #{clientInfo.firstName || ''} #{clientInfo.lastName || ''}
            p.address #{clientInfo.streetAddress || ''}, #{clientInfo.postalCode} #{clientInfo.city || ''}

        .basic-info
          .group
            //- p.user-name #{userInfo.name}
          .group
            p.phone
              i.material-icons local_phone
              | #{userInfo.phone || ''}
            .email 
              i.material-icons email
              | #{userInfo.email}
            p.address 
              i.material-icons location_on
              | #{userInfo.streetAddress || ''}, #{userInfo.postalCode || ''} #{userInfo.city || ''}
          .group
            p.btw BTW: #{userInfo.btw || ''}
            p.kvk KvK: #{userInfo.kvk || ''}
            p.bank IBAN: #{userInfo.iban || ''}
          .group
            p.invoice-date Factuurdatum: #{invoiceInfo.invoiceDate || ''}
            p.invoice-number Factuurnummer: #{invoiceInfo.invoiceNumber || ''}
        
        .spacer

        .table
          table
            thead
              tr
                th.name Omschrijving
                th.narrow Bedrag
                th.narrow Aantal
                th.narrow BTW
            tbody
              each income in incomes
                tr
                  td.name #{income.name || ''}
                  td.narrow.price #{income.price || ''}
                  td.narrow #{income.quantity || ''}
                  td.narrow #{income.taxRate || ''}%
          table
            tbody.total-table-body
              tr.total-section
                td.label Subtotaal             
                td.price #{totalPrices.subtotal || ''}
              tr.total-section
                td.label BTW
                td.price #{totalPrices.taxTotal || ''}
              tr.total-section
                td.label Totaal            
                td.price #{totalPrices.grandTotal || ''}
